body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

nav {
  background: #000;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #f7c948;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.btn {
  background: #f7c948;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #222;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
}

.card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.container {
  padding: 40px;
}

.parking-map {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.slot {
  width: 120px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot.empty {
  border-color: #00ff88;
}

.slot.occupied {
  border-color: red;
}
