body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  text-align: center;
}

/* Landing Page */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-container h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.landing-container p {
  margin-bottom: 30px;
  font-size: 18px;
}

.btn {
  background: white;
  color: #243b55;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #00c6ff;
  color: white;
}

/* Dashboard */
.title {
  margin-top: 40px;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 15px;
  width: 250px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.status {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
}

.loading {
  color: yellow;
}

.occupied {
  color: red;
}

.available {
  color: lightgreen;
}

footer {
  margin-top: 100px;
  opacity: 0.7;
}
