.slot {
  height:100px;
  border-radius:20px;
  backdrop-filter: blur(10px);
  background: var(--glass);
  border:1px solid var(--border);
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  transition:0.3s ease;
  position:relative;
}

.slot:hover {
  transform:translateY(-5px);
}

.slot.available {
  border-color: var(--success);
}

.slot.occupied {
  border-color: var(--danger);
}

.slot img {
  width:40px;
}
